{% extends 'base.html' %}
{% block content %}
    <title>User Played</title>
    <table>
        <tr>
            <th>Avatar</th>
            <th>Mod name</th>
            <th>Your rating</th>
            <th>Played status</th>
            <th>Mod status</th>
        </tr>
        {% for x in post %}
            <tr id="rating{{ x.ratingID }}">
                <td><img src="{{ x.ratingAvatar }}"></td>
                <td><a href="../../mod/{{ x.ratingModID|stringformat:'i' }}">{{ x.ratingModID }}</a></td>
                <td>{{ x.ratingValue }}</td>
                <td>{{ x.ratingChoice }}</td>
                <td>{{ x.ratingStatus }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}