
{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}
{% load likes_inclusion_tags %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modImages.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mod.js' %}"></script>
    <title>{{ post.modName }}</title>
    {% if post.modShow %}
        {% if post.modBackground.url.length is not 0 %}
            {% if post.modBackgroundTiledStretch == 'Tiled' %}
                <script>var freezeBg = true</script>
                <style>
                    body {
                        background-image: url("{{ post.modBackground.url }}");
                        background-repeat: repeat;
                    }
                </style>
            {% elif post.modBackgroundTiledStretch == 'Stretched' %}
                <script>var freezeBg = true</script>
                <style>
                    body {
                        background-image: url("{{ post.modBackground.url }}");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                </style>
            {% endif %}
        {% endif %}
    <div class="modName">
        <h1 id="modName">{{ post.modName }}</h1>
        {% if post.modAuthor == user %}
            <p><a href="{% url 'mod:modEdit' pk=post.pk %}"><input type="button" value="Edit Mod"></a></p>
            {% if post.modEdited %}
                <p style="color: red; margin-right: 10px">Psst! Your mod edit is being approved! (Only you can see this message)</p>
            {% endif %}
        {% endif %}
    </div>

        <script>
        var isAuth = {{ user.is_authenticated|lower }};
        </script>
    <div class="screenshotVideo">
        <div id="screenshotVideoContent" class="screenshotVideoContent">
            {% if not post.modPreviewVideo %}
                {% if post.modPreviewVideo %}
                    <div class="mySlides">{% video post.modPreviewVideo '620x350' %}</div>
                {% else %}
                    <div style="display: none" class="mySlides">{% video post.modPreviewVideo '620x350' %}</div>
                {% endif %}
                {% if post.modPreviewImage1.url.length is not 0 %}
                    <img id="img1" class="mySlides" src={{ post.modPreviewImage1.url }} alt="Preview Image 1">
                {% endif %}
            {% else %}
                {% if post.modPreviewVideo %}
                    <div class="mySlides">{% video post.modPreviewVideo '620x350' %}</div>
                {% endif %}
                {% if post.modPreviewImage1.url.length is not 0 %}
                    <img class="mySlides" src={{ post.modPreviewImage1.url }} alt="Preview Image 1" style="display:none">
                {% else %}
                    <div style="display: none" class="mySlides">{% video post.modPreviewVideo '620x350' %}</div>
                {% endif %}
            {% endif %}
            {% if post.modPreviewImage2.url.length is not 0 %}
                <img class="mySlides" src={{ post.modPreviewImage2.url }} alt="Preview Image 2" style="display:none">
            {% endif %}
            {% if post.modPreviewImage3.url.length is not 0 %}
                <img class="mySlides" src={{ post.modPreviewImage3.url }} alt="Preview Image 3" style="display:none">
            {% endif %}
            {% if post.modPreviewImage4.url.length is not 0 %}
                <img class="mySlides" src={{ post.modPreviewImage4.url }} alt="Preview Image 4" style="display:none">
            {% endif %}
            {% if post.modPreviewImage5.url.length is not 0 %}
                <img class="mySlides" src={{ post.modPreviewImage5.url }} alt="Preview Image 5" style="display:none">
            {% endif %}
            {% if not post.modPreviewVideo and not post.modPreviewImage1 and not post.modPreviewImage3 and not post.modPreviewImage4 and not post.modPreviewImage5 %}
                <p style="text-align: center; line-height: 400px; margin-right: 200px">No images/videos found!</p>
            {% endif %}
        </div>
        <div class="screenshotVideoBar">
            <ul>
                {% if post.modPreviewVideo is not 0 %}
                    {% video post.modPreviewVideo as modPreviewVideo %}
                        <li><img src={{ modPreviewVideo.thumbnail }} onclick="currentDiv(1)"></li>
                    {% endvideo %}
                {% endif %}
                {% if post.modPreviewImage1.url.length is not 0 %}
                    <li><img src={{ post.modPreviewImage1.url }} onclick="currentDiv(2)"></li>
                {% endif %}
                {% if post.modPreviewImage2.url.length is not 0 %}
                    <li><img src={{ post.modPreviewImage2.url }} onclick="currentDiv(3)"></li>
                {% endif %}
                {% if post.modPreviewImage3.url.length is not 0 %}
                    <li><img src={{ post.modPreviewImage3.url }} onclick="currentDiv(4)"></li>
                {% endif %}
                {% if post.modPreviewImage4.url.length is not 0 %}
                    <li><img src={{ post.modPreviewImage4.url }} onclick="currentDiv(5)"></li>
                {% endif %}
                {% if post.modPreviewImage5.url.length is not 0 %}
                    <li><img src={{ post.modPreviewImage5.url }} onclick="currentDiv(6)"></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="rightModData">
        <div class="rightModDataAvatar">
            {% if post.modAvatar %}
                <img src={{ post.modAvatar.url }} alt="Avatar Image">
            {% else %}
                <img src="{% static 'img/icon.png' %}" alt="Avatar Image">
            {% endif %}
        </div>
        <div class="rightModDataDescription">
            <p>{{ post.modShortDescription }}</p>
        </div>
        <ul class="rightModDataText">
            <li>
                <p>Author:</p>
            {% if post.modAuthor|stringformat:"s" != "vigetious" %}
                <p><a href="{% url 'accounts:userProfile' pk=post.modAuthor|stringformat:"s" %}">{{ post.modAuthor }}</a></p>
                {% elif post.modRedditAccount %}
                <p><a href="https://www.reddit.com/user/{{ post.modRedditAccount }}">u/{{ post.modRedditAccount }}</a></p>
                {% else %}
                <p><a href="{% url 'claim' %}">Claim this mod as your own!</a></p>
                {% endif %}
            </li>
            <li>
                <p>Release date:</p><p>{{ post.modDate|date:"d M Y" }}</p>
            </li>
            <li>
                <p>Playtime:</p><p>{{ post.modPlayTimeHours }}h {{ post.modPlayTimeMinutes }}m</p>
            </li>
            <li>
                <p>Status:</p><p>{{ post.modStatus }}</p>
            </li>
            <li>
                <p>Average rating:</p><p>{{ post.modRating }}</p>
            </li>
            <li>
                <p>Tags:</p><p class="tags">
                {% get_tags_for_object post as "tags" %}
                {% for tag in tags %}
                    <a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0">{{ tag }}</a>
                {% endfor %}</p>
            </li>
        </ul>
    </div>

    <div class="modDownload">
        <!--<img src="{% static 'img/Download.png' %}" alt="Download">-->
        <div class="modDownloadRight">
            <!--<a href="irc:123"><img src="{% static 'img/Mod Manager.png' %}" alt="Mod Manager"></a>-->
            <!--<a id="modUploadURL" href="{{ post.modUploadURL }}"><img src="{% static 'img/Manual.png' %}" alt="Manual"></a>-->
            <a id="modUploadURL" href="{{ post.modUploadURL }}"><img src="{% static 'img/Download.png' %}" alt="Download"></a>
        </div>
    </div>

    <div class="modMainContent">
        <p>{{ post.modDescription|linebreaks }}</p>
        <p>All tags for this mod:</p>
        {% get_tags_for_object post as "tags" %}
            {% for tag in tags %}
                <span><a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0">{{ tag }}</a></span>
            {% endfor %}
    </div>
    <div class="modSideContent">
        <div class="modRating" id="rate">
            {% if user.is_authenticated %}
                <p id="rate">Add to played list:</p>
                <div>
                    <fieldset id="rating" class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!" onclick="reminder()">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good" onclick="reminder()">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh" onclick="reminder()">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad" onclick="reminder()">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time" onclick="reminder()">1 star</label>
                    </fieldset>
                    <p id="reminder"></p>
                    <select name="choice" id="choice">
                        <option id="played" value="Played" onclick="revealRating()">Played</option>
                        <option id="want-to-play" value="Want to play" onclick="hideRating()">Want to play</option>
                    </select>
                    <input type="button" id="ratingSubmit" value="Submit">
                    <script>
                        nsfw_check("{{ tags }}", "{{ post.modName }}");
                        if ('{{ rating.ratingModID|stringformat:"i" }}' === '{{ post.modID|stringformat:"i" }}' && '{{ rating.ratingAuthorID }}' === '{{ user }}') {
                            if (document.getElementById("rating").hasAttribute("hidden")) {
                                document.getElementById("star{{ rating.ratingValue }}").checked = true;
                            }
                            if ('{{ rating.ratingValue }}' != 'None') {
                                document.getElementById("star{{ rating.ratingValue }}").checked = true;
                            }
                            document.getElementById("choice").value = "{{ rating.ratingChoice }}";
                            document.getElementById("ratingSubmit").value = "Update";
                        }

                        if (document.getElementById("played").selected === true) {
                            $('#rating').removeAttr('hidden')
                        }

                        if (document.getElementById("want-to-play").selected === true) {
                            $('#rating').attr('hidden', true)
                        }

                        function revealRating() {
                            $('#rating').removeAttr('hidden')
                        }

                        function hideRating() {
                            $('#rating').attr('hidden', true)
                        }

                        $('#ratingSubmit').on('click', function () {rating({{ post.modID }})});
                    </script>
                </div>
            {% endif %}
            {% if user.is_authenticated == False %}
                <div id="modRating">
                    <fieldset id="rating" class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!" onclick="registerReminder()">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good" onclick="registerReminder()">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh" onclick="registerReminder()">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad" onclick="registerReminder()">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time" onclick="registerReminder()">1 star</label>
                    </fieldset>
                    <p id="reminder"></p>
                    <select name="choice" id="choice" onclick="registerReminder()">
                        <option id="played" value="Played" onclick="revealRating()">Played</option>
                        <option id="want-to-play" value="Want to play" onclick="hideRating()">Want to play</option>
                    </select>
                    <input type="button" id="ratingSubmit" value="Submit" onclick="registerReminder()">
                </div>
            {% endif %}
        </div>
    <div>
    <div class="modNotifications">
        <p>Receive e-mail updates about this mod?</p>
        {% if user.is_authenticated == False %}
            <p id="followReminder"></p>
            <input style="margin: 4px 0px 10px 5px;" type="button" value="Follow" onclick="followReminder()" class="notifications-no"><br>
        {% endif %}
        {% if user.is_authenticated %}
            <input style="margin: 4px 0px 10px 5px;" type="button" id="notifications-no" value="Follow" onclick="followYes({{ post.modID }})" class="notifications-no"><br>
        {% endif %}
        <script>
            if ('{{ newsnotifications.newsNotificationsModID|stringformat:'i' }}' === '{{ post.modID }}' && '{{ newsnotifications.newsNotificationsUserID }}' === '{{ user }}') {
                $('#notifications-no').attr({
                    "id": "notifications-yes",
                    "class": "notifications-yes",
                    "value": "Following",
                    "onclick": "followNo({{ post.modID }})"
                })
            }
        </script>
    </div>
    </div>
    <div>
        {% if post.modAuthor == user %}
            <input style="margin-left: 5px" type="button" id="showNews" onclick="showNews()" value="Create news">
            <div class="newsForm" id="newsForm">
                <form method="post" enctype="multipart/form-data" id="news">
                    <input type="text" id="news_text" placeholder="Enter your news here..." autocomplete="off">
                    <input  style="margin: 4px 0px" type="button" id="news_button" onclick="news()" value="Submit">
                    <p id="news_alert"></p>
                </form>
            </div>
            <script>
                function news() {
                    if ($("#news_text").val() === '') {
                        document.getElementById('news_alert').innerHTML = "It's empty"
                    } else {
                        event.preventDefault();
                        console.log("Attempting to submit news.");
                        window.setTimeout(function () {submitNews($("#news_text").val(), {{ post.modID }})}, 100);
                        alert('News submitted.')
                    }
                }
            </script>
        {% endif %}
        <div class="modNews">
            <p>News:</p>
            <div class="news_div">
            {% for news in news %}
                    <div class="newsHeader">
                        <p>{{ news.newsID }} | {{ news.newsDate }}</p>
                    </div>
                    <div class="newsText"><p>{{ news.newsText }}</p></div>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="modReview">
            {% for review in review %}
                <div id="review{{ review.reviewid }}">
                    <div class="modReviewData">
                        <div class="modReviewCoreData">
                            <p><a href="{% url 'accounts:userProfile' review.reviewAuthorID %}">{{ review.reviewAuthorID }}</a></p><br>
                            {% if user.is_authenticated and review.reviewApproved == True %}
                                <form method="post" id="upvote_review" class="voteForm">
                                    {% csrf_token %}
                                    <input type="button" id="upvote_review_{{ review.reviewid }}" class="upvoteReview" value="+"><br>
                                    <p id="reviewVotes{{ review.reviewid }}">{{ review.reviewVotes }}</p><br>
                                    <input type="button" id="downvote_review_{{ review.reviewid }}" class="downvoteReview" value="-"><br>
                                </form>
                            {% endif %}
                            {% if user.is_authenticated == False %}
                                <form class="voteForm">
                                    <input type="button" onclick="window.location = '{% url 'login' %}?next={{ request.path }}'" class="upvoteReview" value="+"><br>
                                    <p id="reviewVotes{{ review.reviewid }}">{{ review.reviewVotes }}</p><br>
                                    <input type="button" onclick="window.location = '{% url 'login' %}?next={{ request.path }}'" class="downvoteReview" value="-"><br>
                                </form>
                            {% endif %}
                            {% if user == review.reviewAuthorID %}
                                {% if review.reviewApproved == True %}
                                    <div class="editCommentBox">
                                        <form method="POST" id="editReview">
                                            {% if review.reviewHasEdit %}
                                                <input type="button" id="editReview{{ review.reviewid }}" class="editComment" value="Edit" onclick="editCommentAjaxEdit({{ review.reviewid }})">
                                            {% else %}
                                                <input type="button" id="editReview{{ review.reviewid }}" class="editComment" value="Edit" onclick="editCommentAjax({{ review.reviewid }})">
                                            {% endif %}
                                            <p class="savedNotification" id="savedNotification{{ review.reviewid }}">Saved!</p>
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="deleteCommentBox">
                                    <form method="POST" id="deleteReview">
                                        <input type="button"  id="deleteReview{{ review.reviewid }}" class="deleteComment" value="Delete" onclick="deleteComment({{ review.reviewid }})">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modReviewHeader">
                        {% if user == review.reviewAuthorID and review.reviewHasEdit %}
                            <p>{{ review.reviewid }} | {{ review.reviewDate }}<span style="color: red"> Your edit is being approved!</span></p>
                        {% else %}
                            <p>{{ review.reviewid }} | {{ review.reviewDate }}</p>
                        {% endif %}
                            <div class="modReviewComment">
                                {% if review.reviewApproved == True %}
                                    {% if user == review.reviewAuthorID %}
                                        <textarea autocomplete="off" id="reviewComment{{ review.reviewid }}">{{ review.reviewComment }}</textarea>
                                    {% else %}
                                        <p id="reviewComment{{ review.reviewid }}">{{ review.reviewComment|linebreaks }}</p>
                                    {% endif %}
                                {% elif review.reviewApproved == False %}
                                    <p>This review is awaiting verification from moderators.</p>
                                    <p>If you have written the review and it has not been approved within 7 days, please <a href="{% url 'contactUs' %}">contact us.</a></p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    {% if user.is_authenticated %}
                        {% for vote in vote %}
                            {% if review.reviewid|stringformat:"i" == vote.voteReviewID|stringformat:"i" and vote.voteAuthor == user|stringformat:"s" and vote.voteValue == 1 %}
                                <script>
                                    $('#upvote_review_{{ review.reviewid }}').attr({
                                        "id": "upvoted_review_{{ review.reviewid }}",
                                        "class": "upvoted_review",
                                        "value": "+"
                                    });
                                </script>
                            {% endif %}
                            {% if review.reviewid|stringformat:"i" == vote.voteReviewID|stringformat:"i" and vote.voteAuthor == user|stringformat:"s" and vote.voteValue == -1 %}
                                <script>
                                    $('#downvote_review_{{ review.reviewid }}').attr({
                                        "id": "downvoted_review_{{ review.reviewid }}",
                                        "class": "downvoted_review",
                                        "value": "-"
                                    });
                                </script>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <script>
                        if (document.readyState === 'loading') {
                            document.addEventListener('DOMContentLoaded', afterLoaded);
                        } else {
                            afterLoaded();
                        }

                        function afterLoaded() {
                            $('#upvote_review_{{ review.reviewid }}').on('click', upvoteFirstClick);
                            $('#upvoted_review_{{ review.reviewid }}').on('click', upvoteSecondClick);

                            $('#downvote_review_{{ review.reviewid }}').on('click', downvoteFirstClick);
                            $('#downvoted_review_{{ review.reviewid }}').on('click', downvoteSecondClick);

                            function upvoteFirstClick() {
                                event.preventDefault();
                                console.log('upvoting review ' + {{ review.reviewid }});

                                if (document.getElementById("downvoted_review_{{ review.reviewid }}")) {
                                    remove_vote({{ review.reviewid }}, {{ mod.modID }});
                                    window.setTimeout(function () {upvote_post({{ review.reviewid }}, {{ mod.modID }})}, 100);
                                    $("#downvoted_review_{{ review.reviewid }}").off('click').on('click', downvoteFirstClick);
                                    $("#downvoted_review_{{ review.reviewid }}").attr('class', 'downvote_review');
                                    $('#downvote_review_{{ review.reviewid }}').attr('id', 'downvote_review_{{ review.reviewid }}');
                                    document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) + 1;
                                } else {
                                    upvote_post({{ review.reviewid }}, {{ mod.modID }});
                                    console.log('yaes');
                                    document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) + 1;
                                }

                                $(this).off('click').on('click', upvoteSecondClick);
                                $(this).attr('class', 'upvoted_review');
                                $(this).attr('value', '+');
                                $(this).attr('id', 'upvoted_review_{{ review.reviewid }}')
                            }

                            function upvoteSecondClick() {
                                event.preventDefault();
                                console.log('removing upvote from review ' + {{ review.reviewid }});

                                remove_vote({{ review.reviewid }}, {{ mod.modID }});
                                document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) - 1;

                                $(this).off('click').on('click', upvoteFirstClick);
                                $(this).attr('class', 'upvote_review');
                                $(this).attr('value', '+');
                                $(this).attr('id', 'upvote_review_{{ review.reviewid }}');
                            }

                            function downvoteFirstClick() {
                                event.preventDefault();
                                console.log('downvoting review + ' + {{ review.reviewid }});
                                if (document.getElementById("upvoted_review_{{ review.reviewid }}")) {
                                    remove_vote({{ review.reviewid }}, {{ mod.modID }});
                                    window.setTimeout(function () {downvote_post({{ review.reviewid }}, {{ mod.modID }})}, 100);
                                    $("#upvoted_review_{{ review.reviewid }}").off('click').on('click', upvoteFirstClick);
                                    $("#upvoted_review_{{ review.reviewid }}").attr('class', 'upvote_review');
                                    $("#upvote_review_{{ review.reviewid }}").attr('id', 'upvote_review_{{ review.reviewid }}');
                                    document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) - 1;
                                } else {
                                    downvote_post({{ review.reviewid }}, {{ mod.modID }});
                                    document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) - 1;
                                }

                                $(this).off('click').on('click', downvoteSecondClick);
                                $(this).attr('class', 'downvoted_review');
                                $(this).attr('value', '-');
                                $(this).attr('id', 'downvoted_review_{{ review.reviewid }}');
                            }

                            function downvoteSecondClick() {
                                event.preventDefault();
                                console.log('removing downvote from review ' + {{ review.reviewid }});

                                remove_vote({{ review.reviewid }}, {{ mod.modID }});
                                document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML = parseInt(document.getElementById('reviewVotes{{ review.reviewid }}').innerHTML) + 1;

                                $(this).off('click').on('click', downvoteFirstClick);
                                $(this).attr('class', 'downvote_review');
                                $(this).attr('value', '-');
                            }
                        }
                    </script>
                    <br>

                    {% if user.is_authenticated %}
                        <form method="post" enctype="multipart/form-data" name="voting">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="submitReview">
                    <form method="post" enctype="multipart/form-data" name="comment">
                        {% csrf_token %}
                        <p>Would you like to review this mod?</p>
                        <span class="rulesSpan">Click <a href="{% url 'rules' %}">here</a> to view the rules</span>
                        <div id="reviewCommentForm" class="submitReviewCommentForm">{{ commentForm.reviewComment }}</div>
                        <div class="reviewSubmit"><p>Don't forget to also <a href="#rate">rate</a> the mod!</p><input id="reviewSubmitButton" class="reviewSubmitButton" type="submit" value="submit"></div>
                    </form>
            </div>
        </div>

    {% else %}
        <p>Your mod is still being approved. Please check back later.</p>
        <p>If you have been waiting for longer than a week, please contact the moderators on the discord server.</p>
    {% endif %}

{% endblock %}

<!--JAVASCRIPT-->
