{% extends 'base.html' %}
{% block content %}
    <title>Change your avatar</title>
        <h1>Change your avatar</h1>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Check out the <a href="{% url "rules" %}">rules</a> before submitting your avatar.</p>
            <p>If you want to return your avatar to the default image, leave the above slot free and click submit.</p>
            <input class="avatarSubmit" type="submit" value="Submit">
        </form>
    <p><a onclick="history.back()"><input type="button" value="Back"></a></p>
{% endblock %}