{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}">
    <title>Your Profile</title>
    {% if user.is_authenticated %}
        <div class="userLeftSideBar">
            <div class="userLeftSideBarAvatar">
                {% if avatar.avatarImage and avatar.avatarApproved %}
                    <img src={{ avatar.avatarImage.url }}>
                {% else %}
                    <img src="{% static 'img/icon.png' %}" alt="Avatar Image">
                {% endif %}
            </div>
            <div class="userLeftSideBarData">
                {% if avatar.avatarImage and avatar.avatarApproved == False %}
                    <p>Your new avatar is being approved.</p>
                {% endif %}
                <p><a href="{% url 'accounts:avatar' %}"><input type="button" value="Edit avatar"></a></p>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Total comments: {{ user.totalComments }}</p>
                <p>Total mods: {{ user.totalMods }}</p>
                <p><input type="button" id="showEdit" onclick="showEdit()" value="Edit account"></p>
                <div id="userLeftSideBarEdit" class="userLeftSideBarEdit">
                    <p><a href="{% url 'accounts:change_password' %}">Change password</a></p>
                    <p>Please contact an admin to change anything else.</p>
                </div>
            <p>This is your private, editable profile. <a href="../{{ user.username }}/profile">Here</a> is your public page.</p>
            </div>
        </div>
        <div class="userRightSideContent">
            <div class="userRightSideContentBio">
                <textarea id="bio">{{ user.description }}</textarea>
                <input type="button" id="finishEditBio" value="Update bio" onclick="editBioAjax($('textarea#bio').val())">
            </div>
            <div class="userRightSideContentCreatedMods">
                <div class="userTitle"><p>Created mods</p></div>
                <div class="createdModsTable">
                    <table>
                        <tr>
                            <th><p>Avatar</p></th>
                            <th><p>Mod name</p></th>
                            <th><p>Average rating</p></th>
                            <th><p>Status</p></th>
                            <th><p>Release date</p></th>
                        </tr>
                        {% for mods in mods %}
                            {% if mods.modApproved %}
                            <tr>
                                <td>
                                    {% if mods.modAvatar %}
                                        <a href="../../mod/{{ mods.modID|stringformat:'i' }}"><img src={{ mods.modAvatar.url }} alt="Avatar Image"></a>
                                    {% else %}
                                        <a href="../../mod/{{ mods.modID|stringformat:'i' }}"><img src="{% static 'img/icon.png' %}" alt="Avatar Image"></a>
                                    {% endif %}
                                </td>
                                <td><p>{{ mods.modName }}</p></td>
                                <td><p>{{ mods.modRating }}</p></td>
                                <td><p>{{ mods.modStatus }}</p></td>
                                <td><p>{{ mods.modDate }}</p></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!--<div class="userRightSideContentReviews">
                <div class="userTitle"><p>Reviews</p></div>
                <table>
                    <tr>
                        <th><p>Date</p></th>
                        <th><p>Comment</p></th>
                    </tr>
                    {% for review in reviews %}
                        <tr>
                            <td><p>{{ review.reviewDate }}</p></td>
                            <td><p>{{ review.reviewComment }}</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>-->
        </div>
        <div class="userPlayed">
            <table>
                <tr>
                    <th><p>Avatar</p></th>
                    <th><p>Mod name</p></th>
                    <th><p>Your rating</p></th>
                    <th><p>Played status</p></th>
                    <th><p>Mod status</p></th>
                    <th><p>Mod note</p></th>
                    <th><p>Delete rating</p></th>
                </tr>
                {% for x in played %}
                    <tr id="rating{{ x.ratingID }}">
                        <td>
                            {% if x.ratingAvatar %}
                                <a href="../../mod/{{ x.ratingModID|stringformat:'i' }}"><img src={{ x.ratingAvatar }} alt="Avatar Image"></a>
                            {% else %}
                                <a href="../../mod/{{ x.ratingModID|stringformat:'i' }}"><img src="{% static 'img/icon.png' %}" alt="Avatar Image"></a>
                            {% endif %}</td>
                        <td><p><a href="../../mod/{{ x.ratingModID|stringformat:'i' }}">{{ x.ratingModID }}</a></p></td>
                        <td><p>{{ x.ratingValue }}</p></td>
                        <td><p>{{ x.ratingChoice }}</p></td>
                        <td><p>{{ x.ratingStatus }}</p></td>
                        <td><textarea placeholder="Click out of the box to update this" id="editNote{{ x.ratingID }}" onfocusout="editNoteAjax($('#editNote{{ x.ratingID }}').val(), {{ x.ratingID }})">{{ x.ratingNote }}</textarea></td>
                        {% if user == x.ratingAuthorID %}
                            <td><p><input type="button" id="rating{{ x.ratingID }}Delete" value="Delete" onclick="deleteRatingButton({{ x.ratingID }})"></p></td>
                        {% endif %} <!-- you dont really need this do you since its going to be unique anyway -->
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
{% endblock %}

<!--JAVASCRIPT-->
