{% block title %}Mod search results{% endblock %}

{% load taggit_templatetags2_tags %}
{% get_taglist as tagCount for 'mod.Mod' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% block content %}
    <form action="{% url 'mod:modSearch' %}" method="get">
        <div id="girls"><h3>Girls:</h3></div>
        <div id="mood"><h3>Mood:</h3></div>
        <div id="others"><h3>Others:</h3></div>
        <input name="search" type="text" placeholder="Search">
        {% for x in mods %}
            <input name="tags" type="checkbox" value="{{ x.modTag }}">{{ x.modTag }}
        {% endfor %}
        {% for tag in tagCount %}
            <script>
            girls = ['natsuki', 'yuri', 'monika', 'sayori', 'all girls'];
            mood = ['happy', 'sad', 'love'];
            state = ['aftermath', 'extension', 'new story'];
            if (girls.includes('{{ tag }}'.toLowerCase())) {
                $("#girls").append('<input name="tags" type="checkbox" value="{{ tag }}"> {{ tag }} ({{ tag.num_times }})');
            } else if (mood.includes('{{ tag }}'.toLowerCase())) {
                $("#mood").append('<input name="tags" type="checkbox" value="{{ tag }}"> {{ tag }} ({{ tag.num_times }})');
            } else if (mood.includes('{{ tag }}'.toLowerCase())) {
                $("#state").append('<input name="tags" type="checkbox" value="{{ tag }}"> {{ tag }} ({{ tag.num_times }})');
            } else {
                $("#others").append('<input name="tags" type="checkbox" value="{{ tag }}"> {{ tag }} ({{ tag.num_times }})');
            }
            </script>
            <!--<input name="tags" type="checkbox" value="{{ tag }}">{{ tag }} ({{ tag.num_times }})-->
        {% endfor %}
        <input type="submit">
    </form>
    {% for x in object_list %}
    <li>
        <a href="../{{ x.modID }}">{{ x.modName }} - {{ x.modAuthor }}</a><br>
    </li>
    {% endfor %}
    {% for obj in filter.qs %}
        {{ obj.modName }} - ${{ obj.modAuthor }}<br>
    {% endfor %}
{% endblock %}