.supportContent {
    width: 60%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}

.supportList {
    width: 98%;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #a4d5ff;
    border: 5px solid #a4d5ff;
}

.supportList p {
    width: 90%;
    margin: 0;
    background-color: #a4d5ff;
    padding: 5px 10px;
}

.supportListDropDown {
    display: none;
}

.supportDiscord {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

table {
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

table th {
    background-color: #8acaff;
    text-align: center;
    border-bottom: 1px solid black;
}

table tr {
    background-color: #add9ff;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}