{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'pages/css/supportHome.css' %}">

<h1>Claiming a mod as your own work</h1>
<p>Have you found a mod that does not have an owner? If you claim the mod as your own, you can edit it freely!</p>
<p>You will have to verify that you have made the mod, and so to do this you must show that you are the original poster of the mod on the sub-reddit.</p>
<p>To do this, you can contact me via discord (Vigetious#9983) or DM me on reddit (u/vigetious). Contacting me via reddit would be much more helpful because I will be able to see your post history.</p>
<p>If neither of these methods work, go to the support page and join our discord. Someone there will be able to help you.</p>

{% endblock %}