{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>Contact Us</title>
    <h1>Contact Us</h1>
    <p>Email - you can contact us via email at dokidokimodclub@protonmail.com</p>
    <p>Discord - fastest and probably easiest way to contact us, join the discord server and we can answer your questions quickly.</p>
    <iframe src="https://discordapp.com/widget?id=625672295435862047&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    <p>Discord direct message - you can also contact the head admin through direct message on discord, his discord username is Vigetious#9983.</p>
{% endblock %}