{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load taggit_templatetags2_tags %}
{% load embed_video_tags %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/home.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/pages.css' %}">
    <title>Doki Doki Mod Club!</title>
    <div class="top">
    <p>Welcome to Doki Doki Mod Club!</p>
    <p>You can find all sorts of mods here for the popular game Doki Doki Literature Club, and you can even submit your own!</p>
    <p>Get started by checking out the newest, most popular or most reviewed mods below, or by searching for a mod.</p>
    <div class="homeRightMenu">
        <div class="screenshotVideo">
            <div class="screenshotVideoContent">
                {% if randomMod.first.modPreviewImage1.url.length is not 0 %}
                <img class="mySlides thumb" id="randomModPreviewImage1" src="{{ randomMod.first.modPreviewImage1.url }}" alt="Preview Image 1" style="display:none">
                {% else %}
                <img class="mySlides thumb" id="randomModPreviewImage1" src="" alt="Preview Image 1" style="display:none">
                {% endif %}
                {% if randomMod.first.modPreviewImage2.url.length is not 0 %}
                <img class="mySlides thumb" id="randomModPreviewImage2" src="{{ randomMod.first.modPreviewImage2.url }}" alt="Preview Image 2" style="display:none">
                {% else %}
                <img class="mySlides thumb" id="randomModPreviewImage2" src="" alt="Preview Image 2" style="display:none">
                {% endif %}
                {% if randomMod.first.modPreviewImage3.url.length is not 0 %}
                <img class="mySlides thumb" id="randomModPreviewImage3" src="{{ randomMod.first.modPreviewImage3.url }}" alt="Preview Image 3" style="display:none">
                {% else %}
                <img class="mySlides thumb" id="randomModPreviewImage3" src="" alt="Preview Image 3" style="display:none">
                {% endif %}
                {% if randomMod.first.modPreviewImage4.url.length is not 0 %}
                <img class="mySlides thumb" id="randomModPreviewImage4" src="{{ randomMod.first.modPreviewImage4.url }}" alt="Preview Image 4" style="display:none">
                {% else %}
                <img class="mySlides thumb" id="randomModPreviewImage4" src="" alt="Preview Image 4" style="display:none">
                {% endif %}
                {% if randomMod.first.modPreviewImage5.url.length is not 0 %}
                <img class="mySlides thumb" id="randomModPreviewImage5" src="{{ randomMod.first.modPreviewImage5.url }}" alt="Preview Image 5" style="display:none">
                {% else %}
                <img class="mySlides thumb" id="randomModPreviewImage5" src="" alt="Preview Image 5" style="display:none">
                {% endif %}
            <script>

            </script>
            <img id="leftButton1" class="leftButton" src="{% static 'pages/images/leftArrow.png' %}">
            <img id="leftButton" class="leftButton tempHidden" src="{% static 'pages/images/left.png' %}">
            <img id="rightButton1" class="rightButton" src="{% static 'pages/images/leftArrow.png' %}">
            <img id="rightButton" class="rightButton tempHidden" src="{% static 'pages/images/left.png' %}">

            </div>
            <ul>
                {% for featuredMod in randomMod %}
                    <li id="featuredMod{{ featuredMod.modID }}"></li>
                    <script>
                        {% if featuredMod.modAvatar %}
                            featuredAvatar{{ featuredMod.modID }} = "{{ featuredMod.modAvatar.url }}";
                        {% else %}
                            featuredAvatar{{ featuredMod.modID }} = "{% static 'img/icon.png' %}";
                        {% endif %}
                        featuredTags{{ featuredMod.modID }} = [];

                        {% if featuredMod.modPreviewImage1.url.length is not 0 %}
                            featuredModPreviewImage1{{ featuredMod.modID }} = "{{ featuredMod.modPreviewImage1.url }}";
                        {% else %}
                            featuredModPreviewImage1{{ featuredMod.modID }} = "null";
                        {% endif %}
                        {% if featuredMod.modPreviewImage2.url.length is not 0 %}
                            featuredModPreviewImage2{{ featuredMod.modID }} = "{{ featuredMod.modPreviewImage2.url }}";
                        {% else %}
                            featuredModPreviewImage2{{ featuredMod.modID }} = "null";
                        {% endif %}
                        {% if featuredMod.modPreviewImage3.url.length is not 0 %}
                            featuredModPreviewImage3{{ featuredMod.modID }} = "{{ featuredMod.modPreviewImage3.url }}";
                        {% else %}
                            featuredModPreviewImage3{{ featuredMod.modID }} = "null";
                        {% endif %}
                        {% if featuredMod.modPreviewImage4.url.length is not 0 %}
                            featuredModPreviewImage4{{ featuredMod.modID }} = "{{ featuredMod.modPreviewImage4.url }}";
                        {% else %}
                            featuredModPreviewImage4{{ featuredMod.modID }} = "null";
                        {% endif %}
                        {% if featuredMod.modPreviewImage5.url.length is not 0 %}
                            featuredModPreviewImage5{{ featuredMod.modID }} = "{{ featuredMod.modPreviewImage5.url }}";
                        {% else %}
                            featuredModPreviewImage5{{ featuredMod.modID }} = "null";
                        {% endif %}

                        featuredTags{{ featuredMod.modID }}.push(
                            {% get_tags_for_object featuredMod as tags %}
                            {% for tag in tags %}
                                "{{ tag }}",
                            {% endfor %}
                        );

                        $(document).ready(function() {
                            $('#featuredMod{{ featuredMod.modID }}').click(function() {

                                changeFeatured(
                                    {{ featuredMod.modID }},
                                    featuredAvatar{{ featuredMod.modID }},
                                    "{{ featuredMod.modShortDescription|linebreaksbr }}".replace(/<br ?\/?>/g, "\n"),
                                    featuredTags{{ featuredMod.modID }},
                                    "{% url 'mod:modSearch' %}",
                                    featuredModPreviewImage1{{ featuredMod.modID }},
                                    featuredModPreviewImage2{{ featuredMod.modID }},
                                    featuredModPreviewImage3{{ featuredMod.modID }},
                                    featuredModPreviewImage4{{ featuredMod.modID }},
                                    featuredModPreviewImage5{{ featuredMod.modID }}
                                );
                            });
                        });
                    </script>
                {% endfor %}
            </ul>
        </div>
        <script>$('#featuredMod' + {{ randomMod.first.modID }}).css("background-color", "#259bff");</script>
        <div class="homeModFeatureRight">
            <a class="homeModFeatureRightAvatar" id="featuredAvatarLink" href="/mod/{{ randomMod.first.modID }}">
                <img id="featuredAvatar" src="{{ randomMod.first.modAvatar.url }}">
            </a>
            <div class="rightFeatureModDataDescription">
                <p id="randomModShortDescription">{{ randomMod.first.modShortDescription }}</p>
            </div>
            <ul class="rightModDataText">
                <li>
                    <p>Tags:</p>
                    <div class="tags" id="featuredTags">
                        {% get_tags_for_object randomMod.first as tags %}
                        {% for tag in tags %}
                            <a class='tag' href='{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0'>{{ tag }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>

        <script>
            $(document).ready(function() {
                    changeFeatured(
                        {{ randomMod.first.modID }},
                        featuredAvatar{{ randomMod.first.modID }},
                        "{{ randomMod.first.modShortDescription|linebreaksbr }}".replace(/<br ?\/?>/g, "\n"),
                        featuredTags{{ randomMod.first.modID }},
                        "{% url 'mod:modSearch' %}",
                        featuredModPreviewImage1{{ randomMod.first.modID }},
                        featuredModPreviewImage2{{ randomMod.first.modID }},
                        featuredModPreviewImage3{{ randomMod.first.modID }},
                        featuredModPreviewImage4{{ randomMod.first.modID }},
                        featuredModPreviewImage5{{ randomMod.first.modID }}
                    );
            });
        </script>

        <div class="homeModScroller">

        </div>
    </div>
    </div>
    <div class="homeMods">
    <ul class="navbar" style="height: 50px;">
        <li><a onclick="openMod(event, 'new')" id="defaultOpen"><img src="{% static 'img/Newest Mods.png' %}"></a></li>
        <li><a onclick="openMod(event, 'rated')"><img src="{% static 'img/Highest Rated Mods.png' %}"></a></li>
        <li><a onclick="openMod(event, 'reviewed')"><img src="{% static 'img/Most Reviewed Mods.png' %}"></a></li>
    </ul>
    <script>
        openMod(event, 'new');
    </script>
    <div id="new" class="tabcontent">
    <ul class="tabContentValue">
        {% for mod in newMods %}
            {% if mod.modShow %}
                <div id="modHorizontal" class="modHorizontal">
                    <div class="modHorizontalList" id="modHorizontalList{{ mod.modID }}">
                    <script>
                        {% if mod.modAvatar %}
                            avatar{{ mod.modID }} = "{{ mod.modAvatar.url }}";
                        {% else %}
                            avatar{{ mod.modID }} = "{% static 'img/icon.png' %}";
                        {% endif %}
                        tags{{ mod.modID }} = [];

                        {% if mod.modPreviewImage1.url.length is not 0 %}
                            modPreviewImage1{{ mod.modID }} = "{{ mod.modPreviewImage1.url }}";
                        {% else %}
                            modPreviewImage1{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage2.url.length is not 0 %}
                            modPreviewImage2{{ mod.modID }} = "{{ mod.modPreviewImage2.url }}";
                        {% else %}
                            modPreviewImage2{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage3.url.length is not 0 %}
                            modPreviewImage3{{ mod.modID }} = "{{ mod.modPreviewImage3.url }}";
                        {% else %}
                            modPreviewImage3{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage4.url.length is not 0 %}
                            modPreviewImage4{{ mod.modID }} = "{{ mod.modPreviewImage4.url }}";
                        {% else %}
                            modPreviewImage4{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage5.url.length is not 0 %}
                            modPreviewImage5{{ mod.modID }} = "{{ mod.modPreviewImage5.url }}";
                        {% else %}
                            modPreviewImage5{{ mod.modID }} = "null";
                        {% endif %}

                        tags{{ mod.modID }}.push(
                            {% get_tags_for_object mod as tags %}
                            {% for tag in tags %}
                                "{{ tag }}",
                            {% endfor %}
                        );

                        $(document).ready(function() {
                            $('#modHorizontalList{{ mod.modID }}').mouseover(function() {
                                $('.modHorizontalList').css("background-color", "#a4d5ff");
                                $('.tabcontent').css("width", "68%");
                                $('.modHorizontalResult').css("display", "inline-block");
                                $('#modHorizontalList' + {{ mod.modID }}).css("background-color", "#8acaff");

                                changePanel(
                                    {{ mod.modID }},
                                    "{{ mod.modName }}",
                                    avatar{{ mod.modID }},
                                    "{{ mod.modShortDescription|linebreaksbr }}".replace(/<br ?\/?>/g, "\n"),
                                    "{{ mod.modAuthor }}",
                                    "{{ mod.modDate|date:"d M Y" }}",
                                    "{{ mod.modPlayTimeHours }}h {{ mod.modPlayTimeMinutes }}m",
                                    "{{ mod.modStatus }}",
                                    "{{ mod.modRating }}",
                                    tags{{ mod.modID }},
                                    "{% url 'mod:modSearch' %}",
                                    modPreviewImage1{{ mod.modID }},
                                    modPreviewImage2{{ mod.modID }},
                                    modPreviewImage3{{ mod.modID }},
                                    modPreviewImage4{{ mod.modID }},
                                    modPreviewImage5{{ mod.modID }}
                                );
                            });
                        });
                    </script>
                        <div class="modAvatar">
                            {% if mod.modAvatar %}
                                <a href="/mod/{{ mod.modID }}"><img src={{ mod.modAvatar.url }} alt="Avatar Image"></a>
                            {% else %}
                                <a href="/mod/{{ mod.modID }}"><img src="{% static 'img/icon.png' %}" alt="Avatar Image"></a>
                            {% endif %}
                        </div>
                        <div class="modHorizontalData">
                            <div class="modHorizontalDataName">
                                <a href="/mod/{{ mod.modID }}"><p>{{ mod.modName }}</p></a>
                            </div>
                            <div class="modHorizontalDataDescription">
                                <p>{{ mod.modShortDescription }}</p>
                            </div>
                            <div class="modHorizontalDataTags">
                                {% get_tags_for_object mod as "tags" %}
                                {% for tag in tags %}
                                    <span><a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0">{{ tag }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    <a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags=All&dateBy=0" class="loadMore">More "New Releases"</a>
    </ul>
    </div>
    <div id="rated" class="tabcontent">
    <ul class="tabContentValue">
    {% for mod in ratedMods|dictsortreversed:"modRating" %}
        {% if mod.modShow %}
            <div id="modHorizontal" class="modHorizontal">
                <div class="modHorizontalList" id="modHorizontalListRated{{ mod.modID }}">
                    <script>
                        {% if mod.modAvatar %}
                            avatar{{ mod.modID }} = "{{ mod.modAvatar.url }}";
                        {% else %}
                            avatar{{ mod.modID }} = "{% static 'img/icon.png' %}";
                        {% endif %}
                        tags{{ mod.modID }} = [];

                        {% if mod.modPreviewImage1.url.length is not 0 %}
                            modPreviewImage1{{ mod.modID }} = "{{ mod.modPreviewImage1.url }}";
                        {% else %}
                            modPreviewImage1{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage2.url.length is not 0 %}
                            modPreviewImage2{{ mod.modID }} = "{{ mod.modPreviewImage2.url }}";
                        {% else %}
                            modPreviewImage2{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage3.url.length is not 0 %}
                            modPreviewImage3{{ mod.modID }} = "{{ mod.modPreviewImage3.url }}";
                        {% else %}
                            modPreviewImage3{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage4.url.length is not 0 %}
                            modPreviewImage4{{ mod.modID }} = "{{ mod.modPreviewImage4.url }}";
                        {% else %}
                            modPreviewImage4{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage5.url.length is not 0 %}
                            modPreviewImage5{{ mod.modID }} = "{{ mod.modPreviewImage5.url }}";
                        {% else %}
                            modPreviewImage5{{ mod.modID }} = "null";
                        {% endif %}

                        tags{{ mod.modID }}.push(
                            {% get_tags_for_object mod as tags %}
                            {% for tag in tags %}
                                "{{ tag }}",
                            {% endfor %}
                        );

                        $(document).ready(function() {
                            $('#modHorizontalListRated{{ mod.modID }}').hover(function() {
                                $('.modHorizontalList').css("background-color", "#a4d5ff");
                                $('.tabcontent').css("width", "68%");
                                $('.modHorizontalResult').css("display", "inline-block");
                                $('#modHorizontalListRated' + {{ mod.modID }}).css("background-color", "#8acaff");
                                changePanel(
                                    {{ mod.modID }},
                                    "{{ mod.modName }}",
                                    avatar{{ mod.modID }},
                                    "{{ mod.modShortDescription|linebreaksbr }}".replace(/<br ?\/?>/g, "\n"),
                                    "{{ mod.modAuthor }}",
                                    "{{ mod.modDate|date:"d M Y" }}",
                                    "{{ mod.modPlayTimeHours }}h {{ mod.modPlayTimeMinutes }}m",
                                    "{{ mod.modStatus }}",
                                    "{{ mod.modRating }}",
                                    tags{{ mod.modID }},
                                    "{% url 'mod:modSearch' %}",
                                    modPreviewImage1{{ mod.modID }},
                                    modPreviewImage2{{ mod.modID }},
                                    modPreviewImage3{{ mod.modID }},
                                    modPreviewImage4{{ mod.modID }},
                                    modPreviewImage5{{ mod.modID }}
                                );
                            });
                        });
                    </script>
                    <div class="modAvatar">
                        {% if mod.modAvatar %}
                            <a href="/mod/{{ mod.modID }}"><img src={{ mod.modAvatar.url }} alt="Avatar Image"></a>
                        {% else %}
                            <a href="/mod/{{ mod.modID }}"><img src="{% static 'img/icon.png' %}" alt="Avatar Image"></a>
                        {% endif %}
                    </div>
                    <div class="modHorizontalData">
                        <div class="modHorizontalDataName">
                            <a href="/mod/{{ mod.modID }}"><p>{{ mod.modName }}</p></a>
                        </div>
                        <div class="modHorizontalDataDescription">
                            <p>{{ mod.modShortDescription }}</p>
                        </div>
                        <div class="modHorizontalDataTags">
                            {% get_tags_for_object mod as "tags" %}
                            {% for tag in tags %}
                                <span><a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0">{{ tag }}</a></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <a href="{% url 'mod:modSearch' %}?q=&sortBy=rated&tags=All&dateBy=0" class="loadMore">More "Highest Rated"</a>
    </ul>
    </div>
    <div id="reviewed" class="tabcontent">
    <ul class="tabContentValue">
    {% for mod in reviewedMods|dictsortreversed:"modReviewCount" %}
        {% if mod.modShow %}
            <div id="modHorizontal" class="modHorizontal">
                <div class="modHorizontalList" id="modHorizontalListReviewed{{ mod.modID }}">
                    <script>
                        {% if mod.modAvatar %}
                            avatar{{ mod.modID }} = "{{ mod.modAvatar.url }}";
                        {% else %}
                            avatar{{ mod.modID }} = "{% static 'img/icon.png' %}";
                        {% endif %}
                        tags{{ mod.modID }} = [];

                        {% if mod.modPreviewImage1.url.length is not 0 %}
                            modPreviewImage1{{ mod.modID }} = "{{ mod.modPreviewImage1.url }}";
                        {% else %}
                            modPreviewImage1{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage2.url.length is not 0 %}
                            modPreviewImage2{{ mod.modID }} = "{{ mod.modPreviewImage2.url }}";
                        {% else %}
                            modPreviewImage2{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage3.url.length is not 0 %}
                            modPreviewImage3{{ mod.modID }} = "{{ mod.modPreviewImage3.url }}";
                        {% else %}
                            modPreviewImage3{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage4.url.length is not 0 %}
                            modPreviewImage4{{ mod.modID }} = "{{ mod.modPreviewImage4.url }}";
                        {% else %}
                            modPreviewImage4{{ mod.modID }} = "null";
                        {% endif %}
                        {% if mod.modPreviewImage5.url.length is not 0 %}
                            modPreviewImage5{{ mod.modID }} = "{{ mod.modPreviewImage5.url }}";
                        {% else %}
                            modPreviewImage5{{ mod.modID }} = "null";
                        {% endif %}

                        tags{{ mod.modID }}.push(
                            {% get_tags_for_object mod as tags %}
                            {% for tag in tags %}
                                "{{ tag }}",
                            {% endfor %}
                        );

                        $(document).ready(function() {
                            $('#modHorizontalListReviewed{{ mod.modID }}').hover(function() {
                                $('.modHorizontalList').css("background-color", "#a4d5ff");
                                $('.tabcontent').css("width", "68%");
                                $('.modHorizontalResult').css("display", "inline-block");
                                $('#modHorizontalListReviewed' + {{ mod.modID }}).css("background-color", "#8acaff");
                                changePanel(
                                    {{ mod.modID }},
                                    "{{ mod.modName }}",
                                    avatar{{ mod.modID }},
                                    "{{ mod.modShortDescription|linebreaksbr }}".replace(/<br ?\/?>/g, "\n"),
                                    "{{ mod.modAuthor }}",
                                    "{{ mod.modDate|date:"d M Y" }}",
                                    "{{ mod.modPlayTimeHours }}h {{ mod.modPlayTimeMinutes }}m",
                                    "{{ mod.modStatus }}",
                                    "{{ mod.modRating }}",
                                    tags{{ mod.modID }},
                                    "{% url 'mod:modSearch' %}",
                                    modPreviewImage1{{ mod.modID }},
                                    modPreviewImage2{{ mod.modID }},
                                    modPreviewImage3{{ mod.modID }},
                                    modPreviewImage4{{ mod.modID }},
                                    modPreviewImage5{{ mod.modID }}
                                );
                            });
                        });
                    </script>
                    <div class="modAvatar">
                        {% if mod.modAvatar %}
                            <a href="/mod/{{ mod.modID }}"><img src={{ mod.modAvatar.url }} alt="Avatar Image"></a>
                        {% else %}
                            <a href="/mod/{{ mod.modID }}"><img src="{% static 'img/icon.png' %}" alt="Avatar Image"></a>
                        {% endif %}
                    </div>
                    <div class="modHorizontalData">
                        <div class="modHorizontalDataName">
                            <a href="/mod/{{ mod.modID }}"><p>{{ mod.modName }}</p></a>
                        </div>
                        <div class="modHorizontalDataDescription">
                            <p>{{ mod.modShortDescription }}</p>
                        </div>
                        <div class="modHorizontalDataTags">
                            {% get_tags_for_object mod as "tags" %}
                            {% for tag in tags %}
                                <span><a href="{% url 'mod:modSearch' %}?q=&sortBy=newest&tags={{ tag }}&dateBy=0">{{ tag }}</a></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <a href="{% url 'mod:modSearch' %}?q=&sortBy=reviewed&tags=All&dateBy=0" class="loadMore">More "Most Reviewed"</a>
    </ul>
    </div>
        <div class="modHorizontalResult">
            <div class="rightModData">
                <div class="rightModDataAvatar">
                    <a id="modAvatarLink" href=""><img id="modAvatar" src="" alt="avatar"></a>
                </div>
                <div class="rightModDataDescription">
                    <p id="modShortDescription"></p>
                </div>
                <ul class="rightModDataText">
                    <li>
                        <p>Name: </p><p><a id="modName" href=""></a></p>
                    </li>
                    <li>
                        <p>Author: </p><p><a id="modAuthor" href=""></a></p>
                    </li>
                    <li>
                        <p>Release date:</p><p id="modDate"></p>
                    </li>
                    <li>
                        <p>Playtime:</p><p id="modPlayTimeHours"></p>
                    </li>
                    <li>
                        <p>Status:</p><p id="modStatus"></p>
                    </li>
                    <li>
                        <p>Average rating:</p><p id="modRating"></p>
                    </li>
                    <li>
                        <p>Tags:</p><div id="tags" class="tags"></div>
                    </li>
                </ul>
                <div style="overflow:auto;">
                    <ul class="rightModDataText" style="overflow: auto">
                        <li>
                            <img src="" alt="preview image 1" id="modPreviewImage1">
                        </li>
                        <li>
                            <img src="" alt="preview image 2" id="modPreviewImage2">
                        </li>
                        <li>
                            <img src="" alt="preview image 3" id="modPreviewImage3">
                        </li>
                        <li>
                            <img src="" alt="preview image 4" id="modPreviewImage4">
                        </li>
                        <li>
                            <img src="" alt="preview image 5" id="modPreviewImage5">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}