{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Terms of use</h1>
    <p>This website is intended to promote users mods created for the game, Doki Doki Literature Club. This website does not host the original game, only the modification files for the game. Any content that is deemed illegal will be held by the moderators, and the IP of the user that submitted the content will be banned, and if necessary, the local authorities will be notified. </p>
    <h1>Privacy Policy</h1>
    <p>This privacy notice discloses the privacy practices for dokidokimodclub.com. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
    <ol>
        <li><p>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</p></li>
        <li><p>What choices are available to you regarding the use of your data.</p></li>
        <li><p>The security procedures in place to protect the misuse of your information.</p></li>
        <li><p>How you can correct any inaccuracies in the information.</p></li>
    </ol>
    <p><b>Information Collection, Use, and Sharing</b></p>
    <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
    <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.</p>
    <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
    <p>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest.</p>
    <p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
    <p>Some of our business partners may use cookies on our site (for example, advertisers). However, we have no access to or control over these cookies.</p>
    <p>We share aggregated demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.</p>
    <p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
    <p>From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and email address). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.</p>
    <p><b>Your Access to and Control Over Information</b></p>
    <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address given on our website:</p>
    <ol>
        <li><p>See what data we have about you, if any.</p></li>
        <li><p>Change/correct any data we have about you.</p></li>
        <li><p>Have us delete any data we have about you.</p></li>
        <li><p>Express any concern you have about our use of your data.</p></li>
    </ol>
    <p><b>Security</b></p>
    <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
    <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
    <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
    <p><b>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email.</b></p>
{% endblock %}