{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'pages/css/supportHome.css' %}">
    <title>Rules and TOS</title>
    <h1>Rules and TOS</h1>
    <ol>
        <li><p>Do not upload anything onto this website that would be deemed illegal. Misuse of uploading services will be dealt with harshly, if necessary authorities will be contacted.</p></li>
        <li><p>If necessary, any data held by us will be handed over to the authorities if the need arises.</p></li>
        <li><p>NSFW content is not allowed. This may be allowed in the future, but at the moment it is not.</p></li>
        <li><p>Target criticism at the mod, not the creator.</p></li>
        <li><p>Advertising your YouTube/twitch/reddit whatever is allowed, but please do it tastefully. Don't spam it all over the place.</p></li>
        <li><p>Use common sense. If you don't think you should post/upload something, don't.</p></li>
        <li><p>Only use this website for the intended uses, which is to share mods for Doki Doki Literature Club.</p></li>
        <li><p>Only upload content that you own, or are allowed to share. Any content that is not yours will be removed, and your account may be banned from uploading any more content. You are also held responsible for the uploaded content, not the website.</p></li>
    </ol>
{% endblock %}