{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">
    <title>Home</title>
    <div class="top">
    <p>News:</p>
    <div class="adminNews">
    <ul class="news">
    {% for news in adminNews %}
        <li>
            <div class="newsUserBar">
                <p class="newsUser">{{ news.adminNewsUserID}}</p>
                <p class="newsDate">{{ news.adminNewsDate }}</p>
            </div>
            <div class="newsContent">
                {{ news.adminNewsText|safe }}
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <iframe class="discord" src="https://discordapp.com/widget?id=105625183250812928&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="homeMods">
    <ul class="navbar">
        <li><a onclick="openMod(event, 'new')" id="defaultOpen"><img src="{% static 'img/Newest Mods.png' %}"></a></li>
        <li><a onclick="openMod(event, 'rated')"><img src="{% static 'img/Highest Rated Mods.png' %}"></a></li>
        <li><a onclick="openMod(event, 'reviewed')"><img src="{% static 'img/Most Reviewed Mods.png' %}"></a></li>
    </ul>
    <script>
        openMod(event, 'new');
        console.log(2)
    </script>
    <div id="new" class="tabcontent">
    <ul class="tabContentValue">
        {% for mod in newMods %}
            <li>
            <div class="modAvatar">
                <a href="/mod/{{ mod.modID }}"><img src="{{ mod.modAvatar.url }}" alt="Mod Avatar"></a>
            </div>
            <div class="modData">
                <p class="modData-name" title="Name" style="margin: 0"><a href="/mod/{{ mod.modID }}">{{ mod.modName|truncatechars:17 }}</a></p>
                <p class="modData-date" title="Date and Rating">{{ mod.modDate|date:"d M Y" }} | {{ mod.modRating }}</p>
            </div>
            <div class="modDescription">
                <p title="Description">{{ mod.modShortDescription|truncatewords:50 }}</p>
            </div>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div id="rated" class="tabcontent">
    <ul class="tabContentValue">
    {% for mod in newMods|dictsortreversed:"modRating" %}
        <li>
            <div class="modAvatar">
                <a href="/mod/{{ mod.modID }}"><img src="{{ mod.modAvatar.url }}" alt="Mod Avatar"></a>
            </div>
            <div class="modData">
                <p class="modData-name" title="Name" style="margin: 0"><a href="/mod/{{ mod.modID }}">{{ mod.modName|truncatechars:17 }}</a></p>
                <p class="modData-date" title="Date and Rating">{{ mod.modDate|date:"d M Y" }} | {{ mod.modRating }}</p>
            </div>
            <div class="modDescription">
                <p title="Description">{{ mod.modDescription|truncatewords:50 }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div id="reviewed" class="tabcontent">
    <ul class="tabContentValue">
    {% for mod in newMods|dictsortreversed:"modReviewCount" %}
        <li>
            <div class="modAvatar">
                <a href="/mod/{{ mod.modID }}"><img src="{{ mod.modAvatar.url }}" alt="Mod Avatar"></a>
            </div>
            <div class="modData">
                <p class="modData-name" title="Name" style="margin: 0"><a href="/mod/{{ mod.modID }}">{{ mod.modName|truncatechars:17 }}</a></p>
                <p class="modData-date" title="Date and Rating">{{ mod.modDate|date:"d M Y" }} | {{ mod.modRating }}</p>
            </div>
            <div class="modDescription">
                <p title="Description">{{ mod.modDescription|truncatewords:50 }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}