{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'pages/css/supportHome.css' %}">
    <title>Rules</title>
    <h1>Rules</h1>
    <ol>
        <li><p>Do not upload anything onto this website that would be deemed illegal. Misuse of uploading services will be dealt with harshly.</p></li>
        <li><p>NSFW content is not allowed. This may be allowed in the future, but at the moment it is not.</p></li>
        <li><p>Hateful reviews will be taken down, and if necessary, users will be punished.</p></li>
        <li><p>Advertising your YouTube/twitch/reddit whatever is allowed, but please do it tastefully. Don't spam it all over the place.</p></li>
        <li><p>Use common sense. If you don't think you should post/upload something, don't.</p></li>
    </ol>
{% endblock %}