.top {
    display: inline-block;
    width: 100%;
}

.top iframe {
    float: right;
}

.adminNews {
    overflow-y: scroll;
    height: 500px;
    border-radius: 2px;
}

.homeModScroller {
    height: 10%;
    width: 75%;
    text-align: center;
    display: inline-block;
}

.screenshotVideo ul {
    background-color: #8acaff;
    height: 62px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.screenshotVideo ul li {
    display: inline-block;
    width: 50px;
    height: 45px;
    background-color: #3ea7ff;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

.screenshotVideo ul li a {
    width: 100%;
    height: 100%;
}

.homeRightMenu {
    width: 100%;
    height: 450px;
    display: inline-block;
    margin-left: 1%;
}

.screenshotVideo {
    width: 75%;
    height: 388px;
    background-color: #a4d5ff;
    display: inline-block;
}

.screenshotVideoContent {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.leftButton {
    position: absolute;
    left: 0;
    transform: scaleX(-1);
    height: 100%;
    width: 50px;
    opacity: 0;
    transition:opacity 0.2s linear;
}

.rightButton {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    opacity: 0;
    transition:opacity 0.2s linear;
}

.shown {
    opacity: 1;
}

.tempHidden{
    opacity: 0;
}

.mySlides {
    display:block;
    margin:auto;
}

.screenshotVideoBar {
    height: 50px;
    padding: 3px 3px;
}

.screenshotVideoBar img {
    max-width: 100%;
    max-height: 100%;
}

.screenshotVideoBar ul {
    height: 50px;
    text-align: center;
    overflow: auto;
    list-style: none;
    margin: auto;
    white-space: nowrap;
}

.screenshotVideoBar li {
    width: 15%;
    height: 100%;
    display: inline;
    padding: 10px 10px;
    list-style-type: none;
}

.screenshotVideoContent img {
    max-width: 100%;
    max-height: 100%;
}

.homeModFeatureRight {
    width: 24%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background-color: #8acaff;
    border-radius: 5px;
}

.homeModFeatureRightAvatar {
    width: 220px;
    margin: auto;
}

.modHorizontalDataTags {
    height: 60px;
    width: 100%;
}

.modHorizontalDataTags p {
    margin: 0;
    font-size: 12px;
    display: inline;
}

.homeModFeatureRight img {
    max-width: 100%;
    width: 90%;
    max-height: 100%;
    margin: auto;
    display: inline-block;
    padding: 10px 10px;
}

.homeModFeatureRightDescription {
    height: 45%;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    font-size: 12px;
}

.homeMods {
    padding-top: 10px;
}

.discord {
    float: right;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

.navbar {
    overflow-y: hidden;
}

.tab a {
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
}

.tab button:hover {

}

.tab button:active {

}

.tabcontent {
    padding-top: 6px;
    padding-left: 12px;
    width: 97%;
}

.loadMore {
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #a4d5ff;
    float: right;
    border: 0px solid #bde1ff;
    border-right-width: 1px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.tabContentValue {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.tabContentValue li {
    display: inline-block;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a4d5ff;
}

.modHorizontal {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    background-color: #a4d5ff;
    vertical-align: top;
    border-radius: 5px;
}

.modHorizontalList {
    background-color: #a4d5ff;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}


.modHorizontalResult {
    width: 30%;
    background-color: #8acaff;
    vertical-align: top;
    display: none;
    padding-bottom: 5px;
    max-height: 830px;
    border-radius: 5px;
    margin-top: 6px;
}

.modHorizontalData {
    display: inline-block;
    width: 70%;
    height: 100px;
}

.modHorizontalData p {
    margin: 0;
}

.modHorizontalDataName p {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.modHorizontalData a {
    text-decoration: none;
}

.modHorizontalDataDescription p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 12px;
    min-height: 50px;
}

.modHorizontalDataTags span a {
    font-family: Arial, Helvetica, sans-serif;
    color: #313f4c;
    text-decoration: none;
    font-size: 12px;
}

.rightModDataAvatar {
    padding: 10px 10px;
}

.rightModDataAvatar img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.rightModDataDescription {
    height: 121px;
    margin: 0;
    overflow: auto;
}

.rightFeatureModDataDescription {
    height: 200px;
    margin: 0;
    overflow: auto;
}

.rightModDataDescription p {
    margin: 0;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.rightFeatureModDataDescription p {
    margin: 0;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}


.rightModDataText {
    max-height: 336px;
    bottom: 0;
}

.rightModDataText li {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.rightModDataText p {
    font-size: 12px;
    display: inline;
    margin: 0;
    padding-bottom: 5px;
}

.rightModDataText img {
    padding-bottom: 5px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.tags a {
    text-decoration: none;
    text-align: right;
}

.modHorizontal p {

}

.rightModDataText p {
    margin: 0;
}

.tag {
    color: black;
}

.modAvatar {
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.modAvatar img {
    vertical-align: middle;
    width: 90px;
    height: 90px;
}

.modData {
    height: 10%;
    padding: 5px 5px;
    background-color: #8acaff;
    box-shadow: 0 10px 10px 0 #8acaff;
}

.modData p {
    color: #38434c;
    margin: 0;
}

.modData a {
    color: #38434c;
    max-width: 100%;
    word-wrap: break-word;
}

.modData-name {
    font-size: 20px;
}

.modData-date {
    font-size: 12px;
}

.modDescription {
    font-size: 13px;
    height: 40%;
    border-top: 1px black;
    padding: 5px 5px;
}

.modData-description {
    word-wrap: break-word;
    font-size: 13px;
    max-height: 40%;
    max-width: 100%;
}

.news li {
    display: inline-block;
    background-color: #a4d5ff;
    width: 100%;
}

.newsDate p {
    width: 28%;
    float: right;
    text-align: right;
    margin: 0;
    padding: 5px 5px;
    font-size: 10px;
    background-color: #8acaff;
}

.newsUserBar {
    margin: 0;
    padding: 5px 5px;
    background-color: #8acaff;
    border: 2px solid #8acaff;
    width: 100%;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.adminNewsContent {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.newsUserBar p {
    margin: 0;
    vertical-align: top;
}

.newsUser {
    float: left;
}

.newsDate {
    float: right;
    padding-right: 5px;
    font-size: 10px;
}

.newsContent {
    display: inline-block;
    float: left;
    width: 100%;
}

.newsContent p {
    margin: 0;
    padding: 5px 5px;
}

.topNewsBar p {
    width: 41%;
    display: inline-block;
    margin-top: 0;
}