.userLeftSideBar {
    display: inline-block;
    width: 30%;
    min-height: 600px;
    background-color: #a4d5ff;
}

.userLeftSideBar p {
    margin: 0 0 0 5px;
}


.userLeftSideBarAvatar {
    width: 256px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.userLeftSideBarAvatar img {
    display: block;
    margin: auto;
}

.userLeftSideBarEdit {
    display: none;
}

.userRightSideContent {
    width: 69%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: #a4d5ff;
}

.userRightSideContentBio {
    width: 98%;
    vertical-align: top;
    height: 48%;
    background-color: #8acaff;
    margin: 1%;
    display: inline-block;
    texta-align: right;
}

.userRightSideContentBioSubmit {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.userRightSideContentBioSubmit p {
    display: none;
    margin: 0;
    text-align: left;
    width: 83%;
}

.userRightSideContentBioSubmit input {
    margin-left: 5px;
    width: 15%;
    background-color: #7cb5e5;
}

.userRightSideContentBio textarea {
    width: 98%;
    height: 90%;
    margin: auto;
    resize: none;
}

.userRightSideContentCreatedMods {
    width: 98%;
    height: 50%;

    display: inline-block;
    margin-left: 1%;
    vertical-align: top;
}

.userRightSideContentCreatedMods p {
    margin: 0;
}

.userRightSideContentReviews {
    width: 48%;
    height: 49%;
    margin-left: 1%;
    display: inline-block;
}

.userRightSideContentReviews p {
    margin: 0;
}

.userRightSideContentReviews table {
    width: 100%;
    height: 100px;
    table-layout: fixed;
}

.userRightSideContentReviews td {
    max-height: 10px;
    overflow: auto;
}

.createdModsTable {
    overflow: auto;
    height: 90%;
}

.userTitle p {
    background-color: #8acaff;
    width: 100%;
    margin: 0;
}

.userRightSideContentCreatedMods table {
    width: 100%;
    height: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

.userRightSideContentCreatedMods tr {
    overflow: auto;
}

.userRightSideContentCreatedMods img {
    width: 50px;
}

.userRightSideContentCreatedMods th {
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    background-color: #8acaff;
}

.userRightSideContentCreatedMods td {
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid black;
}

.userPlayed {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 10px;
}

.userPlayed table {
    border-collapse: collapse;
    width: 100%;
}

.userPlayed th {
    background-color: #8acaff;
    text-align: center;
    border-bottom: 1px solid black;
}

.userPlayed tr {
    background-color: #add9ff;
    text-align: center;
}

.userPlayed tr:nth-child(even) {
    background-color: #b6ddff;
}

.userPlayed td {
    border-bottom: 1px solid black;
}

.userPlayed td textarea {
    width: 10em;
}

.userPlayed p {
    margin: 0;
}

.userPlayed img {
    width: 100px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #00b3ff;
    text-shadow:1px 1px #00b3ff, 2px 2px #006b99, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}